html, body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 1;
}

canvas {
  position: absolute;
  z-index: 0;
}